@import "../../styles/colors.scss";

.errorWrap {
  display: flex;
  flex-direction: column;
  align-items: center;

  .spinner {
    margin-top: 30px;
  }

  .error {
    margin-top: 30px;
    color: $primaryLight;
  }
}