@import "../../styles/colors.scss";

.inputWrap {
  margin-top: 40px;
  position: relative;
  border-bottom: 2px dashed $disabledColor;

  &[data-status="valid"] {
    border-bottom-color: $valid;

    &::after {
      background-color: $valid;
    }
  }

  &[data-status="invalid"] {
    border-bottom-color: $invalid;

    &::after {
      background-color: $invalid;
    }
  }

  &::after {
    content: "";
    width: 100%;
    height: 2px;
    background-color: $disabledColor;
    position: absolute;
    bottom: -2px;
    left: 0px;
    transform-origin: 0%;
    transform: scaleX(0);
    transition: transform 400ms ease;
  }

  &:focus-within {
    border-color: transparent;

    &::after {
      transform: scaleX(1);
    }

    label {
      transform: scale(0.9) translateY(-20px);
    }
  }

  input {
    width: 100%;
    line-height: 24px;
    padding: 0px 40px 0px 8px;

    &:not(:placeholder-shown) + label {
      transform: scale(0.9) translateY(-20px);
    }
  }

  label {
    position: absolute;
    left: 8px;
    color: $disabledColor;
    cursor: text;
    transform-origin: 0%;
    transform: translateY(0px);
    transition: transform 400ms ease;
  }

  .status {
    position: absolute;
    right: 8px;
    font-size: 10px;
    cursor: help;
  }
}