@import "../../styles/colors.scss";

.surveyListWrap {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  background-color: $disabledBackground;

  .headerWrap {
    display: flex;
    background-color: $primary;
    border-top: 40px solid $primaryDark;
    justify-content: center;

    .headerContent {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      max-width: 800px;
      flex-grow: 1;
      padding: 24px 40px;

      img {
        width: 60px;
        align-self: center;
      }

      .logoutWrap {
        display: flex;
        flex-direction: column;
        align-self: center;
        align-items: flex-end;
        justify-content: center;
        color: $white;

        span {
          font-size: 16px;
          margin-bottom: 8px;
        }

        a {
          color: $white;
          text-decoration: none;

          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }

  .contentWrap {
    display: flex;
    flex-direction: column;
    align-self: center;
    max-width: 800px;
    width: 100%;
    flex-grow: 1;
    padding: 40px;

    h2 {
      color: $primaryDark;
      font-size: 20px;
      font-weight: bold;
      text-transform: uppercase;
      margin-bottom: 24px;
    }

    ul {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;

      li {
        height: 250px;
        background-color: $white;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        border-radius: 8px;
        flex-basis: 48%;
        margin-bottom: 24px;
        box-shadow: 0px 1px 3px -1px $black;

        .surveyContent {
          display: flex;
          flex-direction: row;
          border-radius: 8px 8px 0px 0px;
          justify-content: space-between;
          flex-grow: 1;
          background-repeat: no-repeat;
          background-image:
            linear-gradient(to right, rgba($primaryLight, 0.1), rgba($primaryLight, 0.1)),
            linear-gradient(to right, $white, $white);
          background-position: 0 0, 54 0;
          background-size: 54px 100%, 100% 100%;
          position: relative;

          .iconWrap {
            position: absolute;
            top: -10px;
            right: -10px;
            padding: 10px;
            border-radius: 100%;
            display: flex;
            box-shadow: 0px 1px 3px -1px $black;

            &.red {
              background-color: $invalid;
            }

            &.green {
              background-color: $valid;
            }
          }

          time {
            display: flex;
            flex-direction: column;
            background-color: $primaryLight;
            color: $white;
            border-radius: 8px;
            margin-left: 24px;
            align-self: center;
            align-items: center;
            justify-content: center;
            width: 60px;
            height: 100px;
            flex-shrink: 0;

            .day {
              font-size: 40px;
              font-weight: bold;
            }

            .month {
              text-transform: lowercase;
              margin: 0px 0px 5px;
            }

            .year {
              font-size: 16px;
            }
          }

          p {
            font-size: 18px;
            margin: 24px;
            align-self: center;
          }
        }

        footer {
          background-color: $primary;
          color: $white;
          line-height: 40px;
          text-transform: lowercase;
          text-align: center;
          cursor: pointer;
          border-radius: 0px 0px 8px 8px;

          &:hover {
            background-color: $primaryDark;
          }
        }
      }
    }
  }
}