@import "../../styles/colors.scss";

.surveyResultWrap {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  background-color: $disabledBackground;

  .contentWrap {
    display: flex;
    flex-direction: column;
    align-self: center;
    max-width: 800px;
    width: 100%;
    flex-grow: 1;
    padding: 40px;

    h2 {
      color: $primaryDark;
      font-size: 20px;
      font-weight: bold;
    }

    .answersList {
      list-style: none;
      display: flex;
      flex-direction: column;

      li {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        background-color: $white;
        align-items: center;
        padding: 16px;
        border-radius: 8px;
        color: $primaryDark;
        margin-top: 16px;

        &.active {
          border: 2px solid $primaryLight;
        }

        img {
          width: 50px;
          height: 50px;
        }

        .answer {
          flex-grow: 1;
          margin: 0px 16px;
          font-size: 20px;
        }

        .percent {
          font-size: 30px;
        }
      }
    }

    button {
      margin-top: 24px;
    }
  }
}