@import "../../../../styles/colors.scss";

hgroup {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 16px;

  h2 {
    color: $primaryDark;
    font-size: 28px;
    font-weight: bold;
  }

  .calendarWrap {
    width: 80px;
    margin-right: 16px;
  }
}

.answersList {
  list-style: none;
  display: flex;
  flex-direction: column;

  li {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: $white;
    align-items: center;
    padding: 16px;
    border-radius: 8px;
    color: $primaryDark;
    margin-top: 16px;

    &.active {
      box-shadow: 0px 0px 3px 2px $primaryLight;
    }

    img {
      width: 50px;
      height: 50px;
      margin-right: 16px;
    }

    .answer {
      flex-grow: 1;
      margin-right: 16px;
      font-size: 20px;
    }

    .percent {
      font-size: 30px;
    }
  }
}

.button {
  margin-top: 24px;
}

@media only screen and (max-width: 600px) {
  hgroup {
    h2 {
      font-size: 20px;
    }

    .calendarWrap {
      width: 60px;
    }
  }

  .answersList {
    li {
      img {
        width: 40px;
        height: 40px;
      }

      .answer {
        font-size: 16px;
      }

      .percent {
        font-size: 20px;
      }
    }
  }
}