$white: #FFF;
$black: #000;
$background: #F2F2F2;
$primary: #880E4F;
$primaryDark: #560027;
$primaryLight: #BC477B;
$disabledBackground: #CCC;
$disabledColor: #666;
$valid: #4CAF50;
$invalid: #EF5350;