@import "../../styles/colors.scss";

.header {
  display: flex;
  flex-direction: column;
  border-top: 40px solid $primaryDark;
  background-color: $primary;
  align-items: center;

  img {
    margin-top: 40px;
  }

  h1 {
    color: $white;
    margin: 16px 0px 40px;
  }
}