@import "../../styles/colors.scss";

.errorWrap {
  display: flex;
  flex-direction: column;
  background-color: $white;
  padding: 40px;
  align-items: center;
  text-align: center;
  border-radius: 8px;
  box-shadow: 0px 1px 3px -1px $black;

  span {
    font-size: 20px;
    margin-bottom: 24px;
  }
}