@import "../../../../styles/colors.scss";

.answerWrap {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: $white;
  align-items: center;
  padding: 16px;
  border-radius: 8px;
  color: $primaryDark;
  margin-top: 16px;

  &.active {
    box-shadow: 0px 0px 3px 2px $primaryLight;
  }

  img {
    width: 50px;
    height: 50px;
    margin-right: 16px;
  }

  .answer {
    flex-grow: 1;
    margin-right: 16px;
    font-size: 20px;
  }

  .percent {
    font-size: 30px;
  }
}

@media only screen and (max-width: 600px) {
  .answerWrap {
    img {
      width: 40px;
      height: 40px;
    }

    .answer {
      font-size: 16px;
    }

    .percent {
      font-size: 20px;
    }
  }
}